<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<title>Burger Time!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
