<h1>EAT DA BURGER!</h1>

<h2>If you cane dream it, you can eat it!</h2>


<h2>Create Your Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Burger</button>
</form>

<h2>Burger to Eat</h2>
<ul>
  {{#each burger}}
    {{#unless devour}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
  {{#each burger}}
    {{#if devour}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

