

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1, h2, h3, p {
  text-align: center;
}

#pad-right {
  margin-right: 40px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 8px;
  background-color: #5a5858;
  color: #e9e9e9
}
#button-devour {
  color: #333;
}

#img-burger {
  width: 330px;
  margin: auto 0;
}

#add-burger {
  margin-top: 8px;
}

.header-center {
  text-align: center;
}
