
body {
  background-color: #e9e9e9;
  margin: 0 auto;
}

h1, h2, h3, p {
  font-family: 'Jua', sans-serif;
  text-align: center;
  color: #444;
}

.header-center {
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

#pad-right {
  margin-right: 40px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 8px;
  /* background-color: #5a5858;
  color: #e9e9e9 */
}

#img-burger {
  width: 200px;
  margin: auto 0;
}

#add-burger {
  margin-top: 8px;
}


